@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filter {
    background-color: none;
    animation: mostrar;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  .colorBase {
    color: #43589f;
  }
  .borderBase {
    border: 1px solid #43589f;
  }
  .bgBase-hover {
    background-color: #43589f;
  }
}

@keyframes mostrar {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
